<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ site.baseurl }}assets/css/foundation.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}assets/css/datatables.min.css"/>
    <link rel="stylesheet" href="{{ site.baseurl }}assets/css/slick.css">
    <link rel="stylesheet" href="{{ site.baseurl }}assets/css/slick-theme.css">
    <link rel="stylesheet" href="{{ site.baseurl }}assets/css/app.css">
    <link rel="icon" href="{{ site.baseurl }}assets/images/favicon.png" />
    <title>{{ page.title }}</title>
</head>
