html {
    height: 100%;
    overflow-x: hidden;
} 
body, .body-grid {
    height: 100%;
    min-height: 100%;
}

/*  ====================================================================================
    ====================================================================================
                                CSS For Templates
    ====================================================================================
    ====================================================================================
*/

/*  ==================================================================================== */
/*  Footer Classes                                                                      */
/*  ==================================================================================== */

.footer-container {
    position: relative;
    min-height: 324px;
    width: 100%;
}
    .footer-bottom-container {
        position: absolute;
        width: 100%;
        bottom: 0px;
    }
        .footer-index {
            min-height: 70px;
        }
        .footer-copyright {
            min-height: 30px;
        }


/*  ====================================================================================
    ====================================================================================
                                Generic CSS For Elements
    ====================================================================================
    ====================================================================================
*/

.medium-image {
    width: 60%;
    height: auto;
}
.full-width-image {
    width: 100%;
    height: auto;
}
.width-80-image {
    width: 80%;
    height: auto;
}
.width-60-image {
    width: 60%;
    height: auto;
}
.width-40-image {
    width: 40%;
    height: auto;
}
.full-height-image {
    height: 100%;
    width: auto;
}
.height-80-image {
    height: 80%;
    width: auto;
}
.height-60-image {
    height: 60%;
    width: auto;
}
.fill-image {
    height: 100%;
    width: 100%;
}

/*  ==================================================================================== */
/*  Utility Formating                                                                    */
/*  ==================================================================================== */

.headspace-1 {
    margin-top: 1em;
}
.headspace-2 {
    margin-top: 2em;
}
.headspace-3 {
    margin-top: 3em;
}
.headspace-4 {
    margin-top: 4em;
}
.footspace-1 {
    margin-bottom: 1em;
}
.footspace-2 {
    margin-bottom: 2em;
}
.footspace-3 {
    margin-bottom: 3em;
}
.footspace-4 {
    margin-bottom: 4em;
}
.center-vertically-parent {
    display: flex;
    align-items: center;
}
    .center-vertically-child {
        margin: auto 0;
    }
    .center-horizontally-parent .center-vertically-child {
        margin: auto;
    }
.center-horizontally-parent {
    text-align: center;
}
.fill-container {
    height: 100%;
    width: 100%;
}