<div class="grid-x headspace-2">
    <div class="small-12 center-horizontally-parent">
        <form action="https://formspree.io/jmetcalfe24@gmail.com" method="POST">
            <label for="name">Your Name</label>
            <input type="text" name="name">
            <label for="message">Your Message</label>
            <input type="email" name="message">
            <label for="_replyto">Your Email</label>
            <input type="email" name="_replyto">
            <input type="submit" value="Send">
        </form>
    </div>
</div>
