<script id="gitIssuesTemplate" type = "text/template">
    <% for(name in repoName)  { %>
        <div id="<%= name %>" class="grid-x headspace-2 footspace-2 issue-container <% if(Object.keys(repoName).indexOf(name) === 0) { %>issue-container-top<% } %>">
            <div class="small-12 center-horizontally-parent">
                <h2><%= name %></h2>
            </div>
            <% for(issue in repoName[name])  { 
                if("labels" in repoName[name][issue] && repoName[name][issue]["labels"].filter( function(x) { return x.name === "Description"}).length > 0 ) { %>
                    <div class="small-12 medium-4 center-horizontally-parent">
                        <h3>Description</h3>
                            <p><%= repoName[name][issue]["body"] %></p>
                            <small><a href="<%= repoName[name][issue]['html_url'].split('/issues')[0] %>">Go To Repo</a></small>
                    </div>
                <% } %>
            <% } %>
            
            <div class="small-12 medium-4 center-horizontally-parent issue-card-container">
                <h3>Open Issues</h3>
                <% for(issue in repoName[name])  { 
                    if("labels" in repoName[name][issue] && repoName[name][issue]["labels"].filter( function(x) { return x.name === "bug"}).length > 0 ) { %>
                        <p class="issue-card"><a href="<%= repoName[name][issue]['html_url'] %>"><%= repoName[name][issue]["title"] %></a></p>
                    <% } %>
                <% } %>
            </div>
            
            <div class="small-12 medium-4 center-horizontally-parent issue-card-container">
                <h3>Future Features</h3>
                <% for(issue in repoName[name])  { 
                    if("labels" in repoName[name][issue] && repoName[name][issue]["labels"].filter( function(x) { return x.name === "enhancement"}).length > 0 ) { %>
                        <p class="issue-card"><a href="<%= repoName[name][issue]['html_url'] %>"><%= repoName[name][issue]["title"] %></a></p>
                    <% } %>
                <% } %>
             </div>
        </div>
    <% } %>
</script>