<script id="gitReposTemplate" type = "text/template">
    <div class="grid-x headspace-2 footspace-2">
        <div class="small-12">
            <table style="width:100%">
                <tr>
                    <th>Commited On</th>
                    <th>Commit Message</th> 
                    <th>Commiter</th>
                </tr>
                <% for(commit in commits)  { %>
                    <tr>
                        <th>
                            <p><%= commits[commit]["commit"]["author"]["date"] %></p>
                        </th>
                        <th>
                            <p><%= commits[commit]["commit"]["message"] %></p>
                        </th>
                        <th>
                            <p>Elasticated-Shoe</p>
                        </th>
                    </tr>
                    <% if(commit > 23)  { 
                        break;
                    } %>
                <% } %>
        </div>
    </div>
</script>