<script id="gitReposTemplate" type = "text/template">
    <div class="grid-x headspace-2 footspace-2">
        <div class="small-12">
            <table id="gitCommitsTable" class="display" style="width:100%">
                <thead>
                    <tr class="center-horizontally-parent">
                        <th>Commited On</th>
                        <th>Commit Message</th>
                        <th>Repository Name</th> 
                        <th>Commiter</th>
                    </tr>
                </thead>
                <tbody>
                <% for(commit in commits)  { %>
                    <tr>
                        <th>
                            <p><%= commits[commit]["date"] %></p>
                        </th>
                        <th>
                            <p><%= commits[commit]["comment"] %></p>
                        </th>
                        <th>
                            <p><%= commits[commit]["repo"] %></p>
                        </th>
                        <th>
                            <p>Elasticated-Shoe</p>
                        </th>
                    </tr>
                <% } %>
                </tbody>
            </table>
        </div>
    </div>
</script>