<!doctype html>
<html class="no-js" lang="en" dir="ltr">
    {% include head.html %}
    <body data-url="{{ site.baseurl }}{{ page.permalink }}">
        <div class="grid-y body-grid">
            {% include header.html %}
            
            {{ content }}
            
            {% include footer.html %}
        </div>
        <div class="reveal" id="searchModal" data-reveal>
            <div id="searchContents">

            </div>
            <button class="close-button" data-close aria-label="Close modal" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <script src="{{ site.baseurl }}assets/js/vendor/jquery.min.js"></script>
        <script src="{{ site.baseurl }}assets/js/vendor/foundation.min.js"></script>
        <script src="{{ site.baseurl }}assets/js/vendor/datatables.min.js"></script>
        <script src="{{ site.baseurl }}assets/js/vendor/slick.min.js"></script>
        <script src="{{ site.baseurl }}assets/js/vendor/fuse.min.js"></script>
        <script src="{{ site.baseurl }}assets/js/vendor/underscore.min.js"></script>
        <script src="{{ site.baseurl }}assets/js/vendor/plotly.min.js"></script>

        <script src="{{ site.baseurl }}assets/js/app.js"></script>

        <script src="{{ site.baseurl }}assets/js/gitUser.js"></script>
        <script src="{{ site.baseurl }}assets/js/graphIt.js"></script>
        <script src="{{ site.baseurl }}assets/js/cacheStore.js"></script>
        {% if page.javascript %}
            {% for i in page.javascript %}
                <script id="{{ i.id }}" {% if i.type %}type = "{{ i.type }}"{% endif %} src="{{ site.baseurl }}{{ i.script }}"></script>
            {% endfor %}
        {% endif %}
        {% if page.template %}
            {% for i in page.template %}
                {% include {{ i.templatePath }} %}
            {% endfor %}
        {% endif %}
    </body>
</html>